html, body, form {
    height: 100%;
}

body {
    margin: 0;
    font-size: 13px;
}

img {
    image-rendering: -webkit-optimize-contrast;
    /*transform: translateZ(0);
    backface-visibility: hidden;*/
}

/* 상단 뷰 */
.div_top {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #34495e;
}

ul.myunList {
    list-style: none;
    margin: 0;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
}

li.myunListItem {
    float: left;
    height: 100%;
}

    li.myunListItem + li.myunListItem {
        margin-left: 5px;
    }

.myunListBtn {
    display: block;
    width: 25px;
    height: 100%;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    color: #34495e;
    font-weight: bold;
}

    .myunListBtn:hover, .selected_myun {
        background-color: beige;
        color: #f00;
    }

/* 왼쪽 뷰 */
.div_left {
    position: fixed;
    z-index: 100;
    top: 40px;
    left: 0;
    bottom: 0;
    background-color: #ccc;
    width: 200px;
    overflow-y: scroll;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    border: 2px solid #ccc;
    padding: 3px;
}

th {
    background-color: beige;
}

td {
    background-color: #fff;
}

.btn {
    font-size: 13px;
    font-weight: bold;
    border: none;
    width: 100%;
}

    .btn:enabled {
        cursor: pointer;
    }

        .btn:enabled:hover {
            color: #f00;
        }

#printBuseo, #printCount {
    display: block;
    width: 100%;
}

#printBuseo {
    margin-bottom: 5px;
}

#thumb_jopan, #thumb_gangpan {
    width: 150px;
}

.selected_thumb {
    box-sizing: border-box;
    border: 1px solid #f00 !important;
}

/* 오른쪽 뷰 */
.div_right {
    position: fixed;
    top: 40px;
    left: 200px;
    right: 0;
    bottom: 0;
    background-color: #eee;
}

#zoom {
    width: 100%;
    height: 100%;
    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);
}

#preview {
    width: 100%;
    height: auto;
    cursor: grab;
}

    #preview:active {
        cursor: grabbing;
    }
