html, body, form {
    height: 100%;
}

body {
    margin: 0;
}

img {
    image-rendering: -webkit-optimize-contrast;
    /*transform: translateZ(0);
    backface-visibility: hidden;*/
}

/* 상단 뷰 */
.div_top {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #34495e;
    font-size: 13px;
    line-height: 40px;
    color: #fff;
    padding: 0 10px;
}

input[type="text"], input[type="button"], select {
    height: 21px;
    font-size: 13px;
    border: none;
    box-sizing: border-box;
}

input[type="button"] {
    font-weight: bold;
    cursor: pointer;
}

    input[type="button"]:hover {
        color: #f00;
    }

input[type="date"] {
    width: 135px;
}

.refresh {
    font-size: 12px;
    color: #ccc;
}

.info_color {
    float: right;
    font-size: 12px;
}

    .info_color > span {
        display: inline-block;
        width: 13px;
        height: 13px;
        vertical-align: sub;
        border: 1px solid #ccc;
    }

        .info_color > span:nth-child(1) {
            /* 강판 */
            background-color: rgb(25, 25, 112);
        }

        .info_color > span:nth-child(2) {
            /* 미강판 */
            background-color: rgb(109, 109, 109);
        }

        .info_color > span:nth-child(3) {
            /* 작업중 */
            background-color: rgb(128, 128, 0);
        }

        .info_color > span:nth-child(4) {
            /* 자동조판 */
            background-color: rgb(180, 224, 240);
        }

/* 왼쪽 뷰 */
.div_left {
    position: fixed;
    z-index: 100;
    top: 40px;
    left: 0;
    bottom: 0;
    background-color: rgb(109, 109, 109);
    width: 350px;
    font-size: 12px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

/* */
.tb_title th, .tb_title td {
    border: 2px solid #ccc;
    text-align: center;
    background-color: #fff;
}

.tb_title th {
    font-weight: normal;
}

.tb_title td {
    font-size: 22px;
    background-color: #000;
}

    .tb_title td:nth-child(2) {
        color: #ff0;
    }

    .tb_title td:nth-child(4) {
        color: #f00;
    }

    .tb_title td > input[type="text"] {
        background-color: #000;
        color: #ff0;
        width: 100%;
        font-size: 22px;
        text-align: center;
    }

        .tb_title td > input[type="text"]:focus {
            outline: none;
        }

/* */
.tb_view {
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    background-color: #fff;
    text-align: center;
}

input[type="radio"] {
    margin: 0;
    vertical-align: middle;
}

/* */
.tb_time_header {
    border: 2px solid #ccc;
    background-color: #fff;
}

/* */
.div_time {
    position: fixed;
    top: 214px;
    left: 0;
    bottom: 0;
    width: 350px;
    overflow-y: auto;
}

/* */
.tb_time tr {
    cursor: pointer;
}

.tb_time td {
    text-align: center;
    color: #fff;
    padding: 3px;
}

    .tb_time td > span {
        display: block;
        font-weight: bold;
    }

/* 오른쪽 뷰 */
.div_right {
    position: fixed;
    top: 40px;
    left: 350px;
    right: 0;
    bottom: 0;
    background-color: #eee;
}

embed {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0 10px 25px 25px;
    overflow: hidden;
}

li {
    float: left;
    width: 140px;
    margin: 15px 15px 0 0;
}

.thumb {
    border: 2px solid #ccc;
    text-align: center;
    cursor: pointer;
}

.thumb_title, .thumb_info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.thumb_title {
    font-size: 12px;
    font-weight: bold;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    padding: 0 5px;
}

.thumb_img {
    font-size: 0;
    padding-top: 5px;
    width: 100px;
    height: 140px;
    margin: auto;
}

    .thumb_img > img {
        width: 100%;
        height: 100%;
    }

.thumb_info {
    padding: 3px 5px 5px 5px;
    font-size: 11px;
}
